.prompt-scroll .highlight pre {
    max-height: 7em;
    overflow-y: auto;
}
/* Aprovechar más el ancho de la pantalla */
.md-grid {
    max-width: none;
}
/* Buscador más compacto en pantallas grandes */
@media screen and (min-width: 60em) {
    .md-search__inner {
        width: 30rem;
    }
}
